DEBUG=
DATABASE=

SMS_CREDIT=
SENTRY_DSN=
SMS_PROVIDER_BASE_URL=
SMS_PROVIDER_AUTH_KEY=
SMS_SENDER=
SMS_ROUTE=

ALLOWED_HOST1=
ALLOWED_HOST2=
ALLOWED_HOST3=
ALLOWED_HOST4=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_HOST=

SECRET_KEY=
MYTOURNAMENT_URL=